.preguntas_seleccion .ctItem-7 {
  font-family: Montserrat, sans-serif;
  background: #fcfcfc;
  padding: 15px;  
  border-radius: 10px;
  margin-top: .5rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

.preguntas_seleccion .ctItem-7 > div p {
  background: #ebebeb;
  color: #8f8f8f;
  padding: 10px;
  padding-left: 15px;
  padding-right: 10px;
  border-radius: 5px;
  margin: 8px 0;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;
}

.preguntas_seleccion .ctItem-7 > div p.act {
  background: #353846;
  color: white;
}

.preguntas_seleccion .ctItem-7 > div p.true {
  background: #4CAF50;
  color: white;
}

.preguntas_seleccion .ctItem-7 > div p.false {
  background: #F44336;
  color: white;
}

.feedback-containeralturas {
  background: #fcfcfc;
  padding: 15px;
  border-radius: 10px;
  margin-top: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

.info-container {
  background: #f8f8f8;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  margin-top: 1rem;
  text-align: justify;
  color: #333;
  font-size: 14px;
}

.preguntas_seleccion .ctItem-7,
.info-container,
.feedback-containeralturas {
  width: 100%;
  max-width: 100%;
}

@media (max-width: 768px) {
  .preguntas_seleccion .ctItem-7,
  .info-container,
  .feedback-containeralturas {
    width: 100%;
    margin-top: 1rem;
  }
}

